parameters:
    level: 10
    paths:
        - src
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        - 
            message: '#Method Hibla\\Promise\\Promise::await\(\) should return TValue but returns TValue\|null#'
            path: src/Promise.php